/* Globale Stile */

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #eee8e8;
  height: 100%;
  width: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

html{
  height: 100%;
}

.hidden {
  display: none;
}

/* Header */

/* Stil für den Header-Bereich */
header {
  background-color: #ffffff;
  padding: 20px 20px;
  top: 0;
  width: 100%;
  position: fixed;
}

/* Header-Bereichs */
header .wrapper {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* Logo Header */
header .logo img {
  height: 50px;
  display: block;
}

/* Navbar */

/* Navigationsleiste */
.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
}

/* Zeigt Navigationsleiste */
.navbar.show {
  left: 0;
}

/* Erlaubt das Scrollen innerhalb der Navigationsleiste */
.hide-scroll {
  overflow: visible;
}

/* Stil für die Liste innerhalb der Navigationsleiste */
.navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* Stil für die Links innerhalb der Navigationsleiste */
.navbar ul a {
  all: unset;
  color: #444444;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
}

/* Stil für den Link-Hover-Effekt innerhalb der Navigationsleiste */
.navbar ul a:hover {
  color: #111111;
  text-decoration: underline overline;
}

/* Stil für die Schließen-Schaltfläche in der Navigationsleiste */
.close-nav {
  text-align: right;
  margin-bottom: 20px;
}

/* Stil für die Schließen-Schaltfläche */
.close-nav button {
  all: unset;
  font-size: 42px;
  cursor: pointer;
  padding: 15px;
  padding-right: 40px;
  border-radius: 3px;
  color: #444444;
}

/* Stil für die Menü-Schaltfläche */
.menu-bar button {
  border: 0;
  height: 50px;
  width: 40px;
  padding: 20px 0px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
}

/* Stil für das Menü-Symbol */
.menu-bar i {
  display: block;
  border-top: 3px solid #444444;
  border-bottom: 3px solid #444444;
}

/* Stil für das Pseudoelement nach dem Menü-Symbol */
.menu-bar i::after {
  display: block;
  content: "";
  border-top: 3px solid #444444;
  margin: 6px 0;
}

/* Medienabfrage für Bildschirmbreiten ab 700px */
@media (min-width: 700px) {
  .navbar {
    all: unset;
    display: block;
  }
  .navbar ul {
    flex-direction: row;
    gap: 50px;
  }
  .navbar ul a {
    font-size: inherit;
  }
  .close-nav,
  .menu-bar {
    display: none;
  }
}

/* Inhalt */

/* Medienabfrage für Bildschirmbreiten ab 800px */
@media screen and (min-width: 800px) {
  .header_pic {
    display: block; /* Bild anzeigen */
    margin-top: 80px;
  }
  
  .header_pic_mobile {
    display: none; /* Bild verstecken */
  }
}

/* Medienabfrage für Bildschirmbreiten unter 800px */
@media screen and (max-width: 799px) {
  .header_pic {
    display: none; /* Bild verstecken */
  }
  
  .header_pic_mobile {
    display: block; /* Bild anzeigen */
    margin-top: 80px;
  }
}

/* Stil für Bilder */
img {
  width: 100%;
}

/* Stil für Überschriften h1 */
h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px;
  color: #333333;

}

/* Stil für Überschriften h2 */
h2 {
  text-align: center;
  font-size: 30px;
  color: #333333;

}

/* Stil für Überschriften h3 */
h3 {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #333333;
}

/* Stil für Absätze */
p {
  margin-top: 10px;
  font-size: 18px;
  color: #333333;
  text-align: center;
}

/* Stil für den Hauptcontainer */
.container {
  max-width: 50%;
  margin: 0 auto;
}

/* Stil für den Container des Formulars */
.container_fomular {
  max-width: 50%;
}

/* Container unter 750px */
@media screen and (max-width: 750px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
  .container_fomular {
    max-width: 50%;
    margin: 0 auto;
  }
}

/* Logo unter 500px */
@media screen and (max-width: 500px) {
  header .logo img {
    height: 33px;
  }
}

/* Footer */

/* Stil für den Footer */
.footer {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  justify-content: space-between;
}

/* Stil für den Text im Footer */
.footertext {
  margin-bottom: 10px;
  text-align: center;
}

/* Stil für die Liste im Footer */
.footer ul {
display: flex;
list-style: none;
justify-content: center;
margin: 0;
padding: 0;
}

/* Stil für die Listenelemente im Footer */
.footer li {
margin: 0 10px;
}

/* Stil für die Bilder im Footer */
.footer img {
width: 30px;
height: 30px;
}

/* Medienabfrage für Bildschirmbreiten unter 900px */
@media screen and (max-width: 900px) {
.footer {
flex-direction: column;
}

.footer li {
margin: 5px;
}
}





